html {
    scroll-behavior: smooth;
    font-family: 'Poppins, helvetica, sans-serif';
}

html, body {
    width: 100%;
}

body {
    background-color: #007bff;
}

/* Container */
@media only screen and (min-width: 1421px) {
    .page-container {
        max-width: 1320px;
        border-radius: 40px;
        margin: 5% auto;       
    }
}
.page-container {
    background-color: #fff;    
}
.page {
    padding: 30px 30px 0; 
}
.container {
    padding: 0 !important;
}
/* Container */

/* Icon */
.icon {
    border-radius: 50px;
    margin-right: 5px;
}

/* Navbar */
.nav-link {
    margin-left: 15px;
    color: #333;
    transition: 0.3s;
}
.nav-link:hover {
    color: #666;
}
.navbar {
    background-color: transparent;
    transition: .5s;
    padding-bottom: 90px;
}
/* Navbar */

/* Profile Pic */
.pic-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 15px;
    margin-bottom: 30px;
}
.profile-pic {
    border-radius: 190px;
    border: 20px solid #fff;
    -webkit-box-shadow: 0px 1px 30px -2px rgba(102,102,102,1);
    -moz-box-shadow: 0px 1px 30px -2px rgba(102,102,102,1);
    box-shadow: 0px 1px 30px -2px rgba(102,102,102,1);
    width: 80%;
}
/* Profile Pic */

/* Profile */
.profile-container {
    padding: 15px 0;
}
.row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}
/* Profile */

/* Caption */
.caption-container {
    padding: 25px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.caption {
    color: #333;
}
.caption > h5 {
    color: #aaa;
}
.caption > h1 {
    margin-bottom: 20px;
    font-size: 48px;
    line-height: 56px;
}
.caption > p {
    color: #666;
    font-weight: 400;
    font-size: 14px;
    margin: 0 0 40px;
}
/* Caption */

/* Button Cv */
.btn-primary {
    background-color: #fff;
    border: 2px solid #007bff;
    color: #333;
    font-weight: 500;
    box-shadow: 0px 10px 10px -8px rgba(0,0,0,.22);
    transition: 0.4s;
}
/* Button Cv */

/* Footer */
@media only screen and (min-width: 1421px) {
    .col-sm + .cr {
        text-align: right;
    }
    .col-sm {
        text-align: left;
    }
}
.footer {
    margin-top: 40px;
    padding: 15px 45px;
    color: #aaa;
    font-size: 13px;
    background-color: #fcfcfc;
    border-top: 2px solid #eeeeee;
    border-color: #eeeeee;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    text-align: center;
}
/* Footer */

.space {
    width: 100%;
    height: 80px;
}


.btn-rounded {
    padding: 7px 50px;
    border-radius: 100px;
}
.box-skill {
    background: linear-gradient(to right, #007bff, #017bff47);
    width: 100%;
    border-radius: 5px;
    padding: 50px;
    color: white;
    box-shadow: 0px 2px 5px #0000001a;
}

.text-link {
    text-decoration: none;
    color: #aaa;
    transition: 0.3s;
    padding-right: 10px;
}

.text-link:hover {
    text-decoration: none;
    color: #333;
}