body {
    font-family: 'Poppins', sans-serif;
}

.bolder {
    font-weight: bolder;
}

hr {
    margin-top: 1rem;
    margin-bottom: 2rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.container {
    padding: 2rem 15px !important;
}

.biodata {
    margin-bottom: 3rem;
}

.summary {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.describe, .greeting {
    margin-bottom: 2rem;
}

.img-container {
    border: 3px solid #222;
    padding: 5px;
    border-radius: 50%;
}

.profile-pic {
    width: 100%;
    /* transform: scaleX(-1); */
    /* -webkit-filter: grayscale(100%);
    filter: grayscale(100%); */
    border-radius: 50%;
    border: 3px solid #222;
}

.subtitle {
    text-align: center;
}

.stack {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}

.stack > div > img {
    width: 100%;
}
/* Icon */



.stack > div {
    margin: 10px;
}

.project {
    display: flex;
    flex-direction: row;  
    justify-content: center;
    align-items: center;  
}

.project > div {
    margin: 1rem;
    padding: 1rem;
}

.project > div > div {
    margin-bottom: 1rem;
}

.card-project {
    padding: 6px;
    cursor: pointer;
    /* border: 1px solid #a7a7a7; */
    border-radius: 15px;
    box-shadow: 3px 3px 5px 6px #ccc;
}

@media(min-width: 680px) {
    .melaku {
        width: 150px !important;
    }
    
    .pokemon {
        width: 400px !important;
    }    
}

.melaku {
    width: 100%;
}

.pokemon {
    width: 100%;
}

.project {
    text-align: center;
}

a {
    margin-right: 15px;
}

.stack-img {
    width: 100%;
}